<!-- THE HAED -->
<%- include('partials/head', {title})%>
<!-- THE NAV -->
<%- include('partials/nav')%>
<!-- THE BODY -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-lg-8 col-sm-12 offset-md-1 offset-lg-2">
      <% if (books.length!==0) { %>
      <h3 class="py-3">Here is a list of all the books.</h3>
      <% if (allBooks) { %>
      <p class="lead"> There are total <%= books.length %> books here. </p>
      <% } else { %>
      <p class="lead">There are total <%= books.length %> books matching the query.</p>
      <% } %>
      <% } else { %>
      <h3 class="py-3">Sorry! No book found.</h3>
      <p class="lead">Try using different queries.</p>
      <% } %>
      <% books.forEach(book => { %>
      <p><a href="/books/<%= book._id %> "><b><%= book.name %> </b></a><br> <span class="ml-5" style="font-family: cursive; font-size: 1.2rem;">by <% book.author.forEach(a => { %>
          <a href="/books?author=<%= a %> "><%= a %> </a>
          <% }) %></span>
        <br>
        <% book.genre.forEach(g => { %>
        <span class="ml-5"><a href="/books?genre=<%= g %> "><%= g %></a></span><br>
        <% }) %>
        <hr>
        <% })%>
      </p>

    </div>
  </div>
</div>
<!-- THE FOOTER -->
<%- include('partials/footer')%>